<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Report a Violation</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/action.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body onload="getLocation()">
    <%- include('partials/navbar.ejs') %>
        <div class="jumbotron" style="text-align: center;">
            <h2>Report an Animal Cruelty</h2>
        </div>

        <div class="c1 container container-fluid">
            <div id="alert1" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Data submitted successfully!!
            </div>
            <div id="alert2" class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Please fill in all the fields!!
            </div>
            <form action="/action" method="POST">
                <div class="form-group">
                    <label for="fullName">Full Name <span style="color: red">*</span></label>
                    <input type="text" class="form-control" id="fullName" name="fullName"
                        placeholder="Enter your full name" required>
                </div>
                <label for="address">Full Address <span style="color: red">*</span></label>
                <div class="form-group">
                    <input type="text" class="form-control" name="address" id="address"
                        placeholder="Enter your current address" required>
                </div>
                <label for="pincode">Postal Code <span style="color: red">*</span></label>
                <div class="form-group">
                    <input type="number" class="form-control" name="pincode" id="pincode"
                        placeholder="Enter your postal code" required>
                </div>
                <label for="caddress">Exact Address where Animal Cruelty is reported<span
                        style="color: red">*</span></label>
                <div class="form-group">
                    <input type="text" class="form-control" name="caddress" id="caddress"
                        placeholder="Enter exact address where animal cruelty is reported" required>
                </div>
                <label for="description">Describe the cruelty/violation in details<span
                        style="color: red">*</span></label>
                <div class="form-group">
                    <textarea type="text" class="form-control" name="description" id="description"
                        placeholder="Describe in details what you witnessed" rows="4" required></textarea>
                </div>
                <input type="hidden" name="lat" id="lat">
                <input type="hidden" name="lon" id="lon">
                <button type="submit" id="b1" class="btn btn-primary btn-block btn-lg"
                    onclick="showAlert()">Submit</button>
            </form>
        </div>
        <%- include('partials/footer.ejs') %>
</body>
<script>
    axios.post('/order').then(info => {
        var options = {
            "key": `<%= keyId %>`,
            "name": "Save Thy Planet Corp",
            "description": "Transaction",
            "order_id": info.data.id,
            "callback_url": "/success",
            "notes": {
                "address": "Save-Thy-Planet Corporate Office"
            }
        }
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = (e) => {
            rzp1.open();
            e.preventDefault();
        }
    })
</script>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
<script src="/js/jquery-scrolltofixed-min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/action.js"></script>

</html>