<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>T1</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stories.css">
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <ul class="cards">
            <li class="cards__item">
                <div class="card">
                    <div class="card__image card__image--fence"></div>
                    <div class="card__content">
                        <div class="card__title">UNDERSTANDING CONSUMER BEHAVIOUR TO REDUCE WILDLIFE DEMAND</div>
                        <p class="card__text">Overexploitation and consumption of wildlife - through trade or as food -
                            are major drivers of biodiversity loss.</p>
                        <a href="/stories/wildlife"><button class="btn btn--block card__btn">Read More</button></a>
                    </div>
                </div>
            </li>
            <li class="cards__item">
                <div class="card">
                    <div class="card__image card__image--river"></div>
                    <div class="card__content">
                        <div class="card__title">ROAD TO RECOVERY IN LATIN AMERICA</div>
                        <p class="card__text">A 10-month-old Maremma sheepdog had just made the two-day, nearly
                            2,000-mile journey from Patagonia to Misiones Province in the northeastern tip of Argentina,
                            transported in a blue kennel atop a truck bed by two technicians from the Instituto Nacional
                            de Tecnología Agropecuaria (INTA).</p>
                        <a href="/stories/recovery"><button class="btn btn--block card__btn">Read More</button></a>
                    </div>
                </div>
            </li>
            <li class="cards__item">
                <div class="card">
                    <div class="card__image card__image--record"></div>
                    <div class="card__content">
                        <div class="card__title">THE TRUTH ABOUT WHITE TIGERS</div>
                        <p class="card__text">Globally, there are some legitimate conservation breeding programs for
                            tigers that are important for research purposes. </p>
                        <a href="/stories/truth"><button class="btn btn--block card__btn">Read More</button></a>
                    </div>
                </div>
            </li>
            <li class="cards__item">
                <div class="card">
                    <div class="card__image card__image--fence"></div>
                    <div class="card__content">
                        <div class="card__title">UNDERSTANDING CONSUMER BEHAVIOUR TO REDUCE WILDLIFE DEMAND</div>
                        <p class="card__text">Overexploitation and consumption of wildlife - through trade or as food -
                            are major drivers of biodiversity loss.</p>
                        <a href="/stories/wildlife"><button class="btn btn--block card__btn">Read More</button></a>
                    </div>
                </div>
            </li>
            <li class="cards__item">
                <div class="card">
                    <div class="card__image card__image--river"></div>
                    <div class="card__content">
                        <div class="card__title">ROAD TO RECOVERY IN LATIN AMERICA</div>
                        <p class="card__text">A 10-month-old Maremma sheepdog had just made the two-day, nearly
                            2,000-mile journey from Patagonia to Misiones Province in the northeastern tip of Argentina,
                            transported in a blue kennel atop a truck bed by two technicians from the Instituto Nacional
                            de Tecnología Agropecuaria (INTA).</p>
                        <a href="/stories/recovery"><button class="btn btn--block card__btn">Read More</button></a>
                    </div>
                </div>
            </li>
            <li class="cards__item">
                <div class="card">
                    <div class="card__image card__image--record"></div>
                    <div class="card__content">
                        <div class="card__title">THE TRUTH ABOUT WHITE TIGERS</div>
                        <p class="card__text">Globally, there are some legitimate conservation breeding programs for
                            tigers that are important for research purposes. </p>
                        <a href="/stories/truth"><button class="btn btn--block card__btn">Read More</button></a>
                    </div>
                </div>
            </li>
        </ul>
</body>

</html>